<div class="overlay" title="окно"></div>
<div class="edit-element">
    <div class="popup">
        <div class="close_window"></div>
        <div id="editBlock">
            <p><b>Редактирование элемента</b></p>
            <div class="demo-container">
                <div class="tb-container">
                    <input type="hidden" id="editId" />

                    <input class="aumd-tb" id="editName" name="inputName" type="text" placeholder=" ">
                    <label class="aumd-tb-label" for="inputName">Имя:</label>
                    <span class="validation"></span>
                </div>
                <div class="tb-container">
                    <input class="aumd-tb" id="editScore" name="inputName" type="text" placeholder=" ">
                    <label class="aumd-tb-label" for="inputName">Оценка:</label>
                    <span class="validation"></span>
                </div>
                <button class="btn" id="editElementOfList">Сохранить</button>
            </div>
        </div>
    </div>
</div>




<div class="create-element">
    <div class="popup">
        <div class="close_window"></div>
        <div class="demo-container">
            <div id="createBlock">
                <p><b>Добавление элемента</b></p>
                <div class="tb-container">
                    <div class="tb-container">
                        <input class="aumd-tb" id="addName" name="inputName" type="text" placeholder=" ">
                        <label class="aumd-tb-label" for="inputName">Имя:</label>
                        <span class="validation"></span>
                    </div>

                    <div class="tb-container">
                        <input class="aumd-tb" id="addScore" name="inputName" type="text" placeholder=" ">
                        <label class="aumd-tb-label" for="inputName">Оценка:</label>
                        <span class="validation"></span>
                    </div>
                    <button class="btn" id="addElementOfList">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="tableBlock" class="table-responsive"></div>
<button id="add-element-btn" class="btn open_window">Добавить</button>

@section scripts
{
    <script src="~/Scripts/listOfElementsCRUD.js" type="text/javascript"></script>
}


















@*<div class="overlay" title="окно"></div>
    <div class="edit-element">
        <div class="popup">
            <div class="close_window"></div>
            <div id="editBlock">
                <p><b>Редактирование элемента</b></p>

                <table>
                    <tr><td><input type="hidden" id="editId" /></td><td></td></tr>
                    <tr><td><label>Имя: </label></td><td><input type="text" id="editName" /></td></tr>
                    <tr><td><label>Оценка: </label></td><td><input type="number" id="editScore" /></td></tr>
                </table>
                <button id="editElementOfList">Сохранить</button>
            </div>
        </div>
    </div>


    <div class="tb-container">
        <input class="aumd-tb" id="inputid" name="inputName" type="text" placeholder=" ">
        <label class="aumd-tb-label" for="inputName">Normal text input</label>
        <span class="validation"></span>
    </div>
    <div class="tb-container">
        <input class="aumd-tb" id="inputid" name="inputName" type="password" placeholder=" ">
        <label class="aumd-tb-label" for="inputName">Normal password input</label>
        <span class="validation"></span>
    </div>



    <div class="create-element">
        <div class="popup">
            <div class="close_window"></div>
            <div id="createBlock">
                <p><b>Добавление элемента</b></p>
                <table>
                    <tr><td><label>Имя: </label></td><td><input type="text" id="addName" /></td></tr>
                    <tr><td><label>Оценка: </label></td><td><input type="number" id="addScore" /></td></tr>
                </table>
                <button id="addElementOfList">Сохранить</button>
            </div>
        </div>
    </div>
    <div id="tableBlock" class="table-responsive"></div>
    <button id="add-element-btn" class="btn open_window">Добавить</button>

    @section scripts
    {
        <script src="~/Scripts/listOfElementsCRUD.js" type="text/javascript"></script>
    }*@






